
/*
that was the original copyright ^
now here's a tiny subset of fontawesome
*/

@font-face {
font-family: 'fa';
font-style: normal;
font-weight: 400;
font-display: block;
src: url("mini-fa.woff") format("woff");
}

i,
.fa,
.fas,
.far,
.fal,
.fad,
.fab {
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
font-family: 'fa';
font-weight: 400;
}

:add
arrow-left
arrow-right
arrow-right-from-bracket
arrow-right-to-bracket
arrow-up
arrows-alt
backward-fast
bars
bold
chevron-left
chevron-right
clock-rotate-left
code
columns
copy
download
ellipsis-vertical
eraser
eye
file
file-arrow-up
file-lines
file-pen
file-zipper
folder
folder-plus
forward-fast
gear
grip-lines
heading
image
italic
lightbulb
link
list
list-ol
list-ul
magnifying-glass
minus
music
paste
pen
play
question-circle
quote-left
redo
save
scissors
strikethrough
table
table-cells-large
terminal
trash
tree
undo